pydub==0.25.1
pygame==2.4.0
pyttsx3==2.90
gTTS==2.3.2
setuptools
pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu116
torch
numpy
git+https://github.com/openai/whisper.git
